@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  height: 300px;
  }

  header > h1 {
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 160px;
  }